.app {
  display: flex;
  justify-content: space-around;
  padding: 20px;

}

.bank-options {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.bank-option {
  border: 1px solid #ccc;
  padding: 18px;
  border-radius: 5px;
  width: 390px
}

.bank-option h3 {
  margin: 0 0 23px;
}

.bank-option ul {
  list-style-type: none;
  padding: 0;
}

.bank-option ul li {
  margin-bottom: 5px;
}

.bank-option p {
  margin: 10px 0;
}

.bank-option button {
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.video-kyc {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;

}

.video-kyc h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

.video-kyc p {
  margin: 10px 0;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.actions button:hover {
  background-color: #0056b3;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-right: 10px;

}

.checkbox-label {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  text-align: center;
}

.checkmark {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.features {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 20px
}

.features li {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding: 6px;

}

.interest-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.interest-rate {
  display: flex;
  flex-direction: column;
}

.booknow-button .book-now {
  background-color: #3f51b5;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.book-now.utkarsh,
.checkbox-label.utkarsh {
  background-color: #3f51b5;

}

.book-now.bajaj,
.checkbox-label.bajaj {
  background-color: #007bff;

}


.kyc-card {

  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.kyc-card h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
}




.date-month {
  background-color: #ff6f61;
  color: #fff;
  padding: 4px 18px;
  font-size: 14px;
  margin-top: 6px;
}

.plan-details h4 {
  font-size: 16px;
  color: #333;
  margin: 0 0 16px 0;
}

.details {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.detail-item {
  text-align: center;
}

.detail-title {
  display: block;
  font-size: 14px;
  color: #777;
  margin-bottom: 4px;
}

.detail-value {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.complete-button,
.reschedule-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.complete-button {
  background-color: #1da1f2;
  color: #fff;
}

.buttons .reschedule-button {
  background-color: #fff;
  color: #1da1f2;
  border: 1px solid #1da1f2;
}

.contanier {
  display: flex;
  gap: 30px
}

.date {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  padding: 8px;

  background-color: rgb(234, 226, 226);
}